

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group">
                        {{ form_label(form.nomEv,"Nom de l'evenement ",{'label_attr': {'style': 'color: black;'}}) }}
                        {{ form_widget(form.nomEv, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger small">{{ form_errors(form.nomEv) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.description,"Description ",{'label_attr': {'style': 'color: black;'}}) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger small">{{ form_errors(form.description) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dateEvent, "Date de l'événement", {'label_attr': {'style': 'color: black;'}}) }}
                        {{ form_widget(form.dateEvent, {
                            'attr': {
                                'class': 'form-control',
                                'min': "now"|date("Y-m-d")
                            }
                        }) }}
                        <div class="text-danger small">{{ form_errors(form.dateEvent) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.sponsor, "Sponsor", {'label_attr': {'style': 'color: black;'}}) }}
                        {{ form_widget(form.sponsor, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger small">{{ form_errors(form.sponsor) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lieu,"Lieu ",{'label_attr': {'style': 'color: black;'}}) }}
                        {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger small"> {{ form_errors(form.lieu) }}</div>
                    </div>
                    <button class="btn btn-success">{{ button_label|default('💾 Save') }}</button>
{{ form_end(form) }}